* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  pointer-events: none;
}

