.custom-container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 24px;
}

.h1 {
  font-size: 42px;
  line-height: 1.05;
  margin: 14px 0 12px;
  font-weight: 800;
  padding-bottom: 25px;
}

.custom-lead {
  color: #b7c6dc;
  font-size: 18px;
  margin: 0 0 18px;
}

.eyebrow {
  color: var(--brand-2);
  font-weight: 800;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 12px;

  margin-bottom: 15px;
  margin-top: 60px;
}

.title {
  font-size: 28px;
  margin: 0 0 10px;
}

.center-wrapper {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%; 
}