@layer reset, base, layout, components, utilities, pages;

@import url('./_about.css') layer(components);
@import url('./_contact.css') layer(components);
@import url('./_home.css') layer(components);