/* responsividade */

@media (max-width: 1020px) {
  .img-responsive-cell {
    margin-right: 40%;
    display: flex;
  }

  footer .custom-row {
    text-align: center;
    margin: auto;
    display: block;
  }
}

@media (max-width: 1160px) {
  .img-responsive-cell {
    display: none;
  }
}

@media (max-width: 980px) {
  .navlinks {
    display: none;
  }

  .burger {
    display: grid;
  }

  .hero-card {
    grid-template-columns: 1fr;
  }

  .hero-copy {
    padding: 28px;
  }

  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-img {
    display: none;
  }
}

@media (max-width: 800px) {
  .cta {
    display: none;
  }
}

@media (max-width: 620px) {
  .h1 {
    font-size: 30px;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .cta-band {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 450px) {
  .btn {
    margin-top: 0;
  }

  .img-responsive-cell {
    display: none;
  }
  .service-card {
  background: var(--card);
  border: 1px solid rgba(255, 255, 255, .08);
  border-radius: var(--radius-xl);
  padding: 37px;
  text-align: center;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform .2s ease, box-shadow .2s ease;
  height: 300px;
}
}

/*serviços*/
@media (max-width: 600px) {
  .service-line {
    flex-direction: column;
    /* empilha os elementos no celular */
    align-items: flex-start;
    /* alinha à esquerda */
  }

  .service-card {
  background: var(--card);
  border: 1px solid rgba(255, 255, 255, .08);
  border-radius: var(--radius-xl);
  padding: 30px;
  text-align: center;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform .2s ease, box-shadow .2s ease;
  height: 300px;
}

  .service-side {
    margin-top: 10px;
    width: 100%;
    /* logo e preço ocupam largura total */
    display: flex;
    justify-content: space-between;
  }
}

/*equipe*/
@media (max-width: 980px) {
  .nv-grid-3 {
    grid-template-columns: 1fr;
  }

  .nv-grid-2 {
    grid-template-columns: 1fr;
  }
}

@keyframes pulseGlow {
  0%,
  100% {
    box-shadow: 0 0 18px rgba(124, 240, 255, 0.35);
  }
  50% {
    box-shadow: 0 0 30px rgba(124, 240, 255, 0.6);
  }
}